
/*!  Global settings  */

body {
  position: relative;
}

h1, .h1 {
  font-size: 3.125rem;
}

h2, .h2 {
  font-size: 2.25rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.375rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

u {    
    border-bottom: 1px dotted #999;
    text-decoration: none;
}


/*!  Main Page Nav Bar  */

.nav-bar {
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0px;
}

.nav-bar img {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.full-width-img {
  width: 100%;
}

/*!  Media Browser  */

#media-browser {
  width: 100%;
  max-height: 510px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0px;
}

#media-browser .slide {
  display: inline-block;
  margin-right: 10px;
}

#media-browser img {
  max-height: 510px;
}

/*!  Sticky page nav  */

.page-nav {
  padding: 10px 0px;
  background-color: #fff;
  margin:5px 0px;
  z-index: 2000;
}

.page-nav .container {
  position: relative;
}

#smart-nav .nav {
  float: left;
}

.page-nav {
  font-size: 12px;
}

.nav-border {
  border-bottom: 1px solid #E2E2E2;
}

.active {
  color: #585858;
  font-weight: 600;
}

.action-bar {
  float: right;
  position: relative;
  right: -130px;
}

.action-bar img {
  height: 50%;
  float: right;
  margin-left: 40px;
  position: relative;
  top: 7px;
}

/*!  Address, Price, Etc  */

.home-info {
  padding: 50px 0px;
  margin: 0px 0px 50px;
  border-bottom: 1px solid #E2E2E2;
}

.address {
  margin: 0px 0px 30px;
  font-weight: 600;
}

.time-listed {
  color: #999999;
  font-size: 14px;
  line-height: 2;
}

.home-info h3 {
  line-height: .9;
}

.home-info .text-muted {
  font-size: 14px;
}

.detail-info {
  float: right;
  margin-left: 40px;
}

/*!  About This Home  */

.about-this-home {
  padding: 0px 0px 60px;
}

.key-details {
  margin: 40px 0px 20px;
}

.key-details .col {
  margin-left: -8px;
}

.key-details dt {
  color:#999999;
  font-weight: normal;
}

.key-details dd {
  text-align: right;
}

.about-this-home a, .about-this-home a:not([href]):not([tabindex]) {
  display: block;
  color: #449DB0;
  cursor: pointer;
}

/*!  Map Section  */

.map-section {
  border-bottom: 1px solid #E2E2E2;
  padding: 0px 0px 60px;
}

.map-section a {
  margin-top: 5px;
}

/*!  Expanding Sections  */
.sticky-right-rail {
  top: 90px;
}


/*!  Expanding Sections  */

.content-section {
  border-bottom: 1px solid #E2E2E2;
  padding: 50px 0px 50px;
}

.content-section h4 {
  padding: 0px 0px 20px;
}

.content-section img {
  margin-bottom: 40px;
}

.item {
  border-bottom: 1px solid #E2E2E2;
}

.clickable-tab {
  padding: 35px 0px 20px;
  width: 100%;
  height: 100%;
}

.expanding-header {
  float: left;
  width: 300px;
  color: #333;
}

.expanding-fact {
  float: left;
  line-height: 2;
  color: #333;
}

.clickable-tab img {
  float: right;
  height: 12px;
  margin-top: 10px;
}

.clickable-tab img.price-calculator {
  width: 418px;
  height: 134px;
  margin:0px 0px 20px;
}

.collapse {
  margin: 0px 0px 30px;
}


/*!  Nearby Homes  */
.table thead th, .table td {
  border:none;
}

.table th, .table td {
  padding: 0.75rem 0;
}

.school-rating {
  float: left;
  text-align: center;
  color: #fff;
  width: 36px;
  padding: 6px 0;
  margin-right: 10px;
  font-weight: 600;
  border-radius: 18px;
  background-color: #999;
}

.rating-good {
  background-color: #73BB3C;
}

.rating-bad {
  background-color: #F2A2A1;
}

.rating-none {
  background-color: #CDCDCD;
}

.school-row {
  line-height: 1.2;
}

.school-info {
  font-size: 14px;
  color: #585858;
}


/*!  Nearby Homes  */
.nearby-homes {
  margin:50px 0px;
}

.nearby-homes h4 {
  margin-bottom: 30px;
}

.card {
  border:none;
}

.card-body {
  padding: 10px 0 0;
}

.card-title {
  margin:0 0 5px;
}

.card-text {
  font-size: 14px;
  margin:0 0 5px;
}

.card-address{
  font-size: 12px;
  color: #999999;
}


/*!  modal  */
.nearby-links {
  background-color: #F7F7F7;
  margin: 100px 0px 0px;
  padding: 60px 0px;
}

.more-links ul {
  list-style-type: none;
  margin: 30px 0px 50px;
  padding: 0px;
  font-size: 14px;

}

.more-links ul li {
  color: #999999;
  margin: 0px 0px 3px;
}

.more-links ul li a {
  
}

.nearby-links p {
  color: #585858;
  font-size: 12px;
  line-height: 1.5;
}

/*!  modal  */

.modal-lg {
  max-width: 750px;
}

.modal-content {
  padding: 40px 40px 30px;
}

.modal-header {
  padding: 0px 0px 30px;
  margin: 0 15px;
}

.modal-overview {
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0 30px;
}

.modal-overview .key-details {
  margin: 20px 0px 0px;
}

#accordion .card .card-header {
  background-color: #fff;
  padding: 30px 0;
}

.collapse {
  margin: 0px 0px 0px;
}

.collapse .card-body {
  border-bottom: 1px solid #E2E2E2;
}

/*!  Sticky Footer  */
.footer-tour {
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  padding: 15px 0px;
}

/*!  Footer  */
.custom-footer {
  margin: 0px 0px 50px;
}





@media (max-width: 990px) {

.container {
    max-width: 800px;
}
}




